/* Entire Site */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back-color: #ecebe4;
    --dark-color: black;
    --plain-text-color: #5f5454;
    --light-color: white;
    --theme-color: #1f694b;
    --theme-highlight-color: #207a50;
    --accent-color: #f5c543;

    --top-bar-padding: 0.5rem clamp(0.5rem, 3vw, 5rem);
    --region-margin: 1.2rem 1rem;
    --card-edge: 0.4rem;
    --subtle-shadow: 0.2rem 0.2rem 0.2rem 0 #00000818;

    --page-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --system-font: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', sans-serif;

    font-size: clamp(12px, calc(10px + 0.5vw), 28px);
}

body {
    font-family: var(--page-font, sans-serif);
    color: var(--plain-text-color, black);
    background-color: var(--back-color, white);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

h2 {
    color: var(--dark-color, black);
    font-size: 1.2rem;
}

h2.region-head {
    margin-bottom: 0.6rem;
}

i {
    display: inline-block;
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
}

img.mini-pfp {
    display: block;
    height: 2.3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.card {
    color: var(--plain-text-color);
    background-color: var(--light-color, white);
    padding: 1rem;
    border-radius: var(--card-edge);
    box-shadow: var(--subtle-shadow);
}

/* Main Bar */

#main-bar {
    color: var(--light-color, white);
    background: var(--theme-color, blue);
    width: 100%;

    display: flex;
    flex-direction: column;
}

#main-bar h1 {
    display: none;
}

#main-bar h1 i {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    top: 0.3rem;
}

#main-bar menu {
    font-size: 1.2rem;
    list-style: none;
    padding-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-bar menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--light-color);
    text-decoration: none;
}

#main-bar a:hover {
    background-color: var(--theme-highlight-color);
}

#main-bar menu i {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    top: 0.15rem;
}

#main-bar menu .item-text {
    display: inline-block;
    position: relative;
    top: -0.1rem;
}

i.dashboard {
    background-image: url("icons/dash-dashboard.svg");
}

i.home {
    background-image: url("icons/dash-home.svg");
}

i.profile {
    background-image: url("icons/dash-profile.svg");
}

i.messages {
    background-image: url("icons/dash-messages.svg");
}

i.history {
    background-image: url("icons/dash-history.svg");
}

i.tasks {
    background-image: url("icons/dash-tasks.svg");
}

i.communities {
    background-image: url("icons/dash-communities.svg");
}

i.settings {
    background-image: url("icons/dash-settings.svg");
}

i.support {
    background-image: url("icons/dash-support.svg");
}

i.privacy {
    background-image: url("icons/dash-privacy.svg");
}

/* Search Bar */

#search-bar {
    color: var(--plain-text-color, black);
    background: var(--light-color, white);
    padding: var(--top-bar-padding, 0.5rem);

    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-bar a {
    display: block;
    color: var(--dark-color, black);
    font-weight: bold;
    text-decoration: none;
}

#search-bar input[type="search"] {
    font-family: var(--system-font, sans-serif);
    font-size: 1rem;
    color: var(--plain-text-color, black);
    background-color: var(--back-color, silver);
    line-height: 1.5rem;
    width: clamp(12ch, 40vw, 50ch);
    border: none;
    border-radius: 0.5lh;
    padding: 0 0.6rem;
}

i.search {
    background-image: url("icons/search.svg");
}

i.notifications {
    background-image: url("icons/notifications.svg");
}

#search-bar a#notifications-link {
    margin-left: auto;
}

#search-bar a#profile-name-link {
    min-width: 12ch;
}

/* Greeting Bar */

#greeting-bar {
    color: var(--dark-color, black);
    background: var(--light-color, white);
    box-shadow: 0 0.25rem 0.25rem 0 #00000824;
    padding: var(--top-bar-padding, 0.5rem);
    padding-bottom: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img.focus-pfp {
    display: block;
    height: 3.6rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

#greeting-block {
    margin-right: auto;
}

#greeting-block p {
    font-size: 0.9rem;
}

#greeting-block h1 {
    font-size: 1.2rem;
}

#greeting-bar button {
    font-family: var(--system-font, sans-serif);
    font-size: 0.85rem;
    line-height: 2rem;
    color: var(--light-color, white);
    background-color: var(--theme-color, blue);
    width: 10ch;
    height: 1lh;
    border: none;
    border-radius: 0.5lh;
    cursor: pointer;
}

#greeting-bar button:hover {
    background-color: var(--theme-highlight-color);
}

/* Projects */

#projects {
    font-size: 0.9rem;
    margin: var(--region-margin, 1rem);
}

#projects .card-wrapper {
    height: 90%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem 1.2rem;
}

.project.card {
    border-left: 0.5rem solid var(--accent-color);
    padding: 1rem 0.5rem 0.8rem 1rem;

    display: flex;
    flex-flow: column;
}

.project h3 {
    color: var(--dark-color);
    font-size: 1rem;
}

.project p {
    font-size: 0.85rem;
}

.action-row {
    margin-top: auto;
    padding-right: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.action-row i {
    height: 1.2rem;
}

i.star {
    background-image: url("icons/add-star.svg");
}

i.watch {
    background-image: url("icons/add-watch.svg");
}

i.fork {
    background-image: url("icons/fork.svg");
}

/* Announcements */

#announcements {
    margin: var(--region-margin);
}

#announcements h3 {
    color: var(--dark-color);
    font-size: 0.9rem;
}

#announcements p {
    font-size: 0.7rem;
}

#announcements .card hr {
    border: 1px solid var(--back-color);
    margin: 0.7rem 0;
}

/* Trending */

#trending {
    margin: var(--region-margin);
}

#trending .card {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#trending a {
    text-decoration: none;
    color: unset;
}

#trending a:hover {
    text-decoration: underline;
}

.trending-project {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.trending-project h3 {
    color: var(--dark-color, black);
    font-size: unset;
}

/* Sidebar for wide screen */

@media (min-width: 30rem) {
    body {
        display: grid;
        grid-template-columns: minmax(15rem, 2fr) 5fr 2fr;
        grid-template-rows: min-content min-content min-content auto;
    }
    
    #main-bar {
        position: static;
        height: unset;
        width: unset;
        grid-column: 1;
        grid-row: 1 / -1;
        gap: 2.5rem;
    }

    #main-bar h1 {
        display: block;
        padding: 0.5rem;
    }

    #main-bar menu {
        flex-direction: column;
    }

    #main-bar menu .item-text {
        margin-left: 0.4rem;
    }

    #search-bar {
        grid-column: 2 / -1;
        grid-row: 1;
    }

    #greeting-bar {
        grid-column: 2 / -1;
        grid-row: 2;
    }

    #projects {
        grid-column: 2;
        grid-row: 3 / -1;
    }

    #announcements {
        grid-column: 3;
        grid-row: 3;
    }

    #trending {
        grid-column: 3;
        grid-row: 4;
    }
}