/* Entire Site */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back-color: #ecebe4;
    --dark-color: black;
    --plain-text-color: #444040;
    --light-color: white;
    --theme-color: #1f694b;
    --theme-highlight-color: #207a50;
    --accent-color: #d69532;

    font-size: clamp(12px, calc(10px + 0.5vw), 28px);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--plain-text-color, black);
    background-color: var(--back-color, white);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

i {
    display: inline-block;
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
}

img.mini-pfp {
    display: block;
    height: 2.3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

/* Main Bar */

#main-bar {
    color: var(--light-color, white);
    background: var(--theme-color, blue);
    width: 100%;

    display: flex;
    flex-direction: column;
}

#main-bar h1 {
    display: none;
}

#main-bar h1 i {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    top: 0.3rem;
}

#main-bar menu {
    font-size: 1.2rem;
    list-style: none;
    padding-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-bar menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--light-color);
    text-decoration: none;
}

#main-bar a:hover {
    background-color: var(--theme-highlight-color);
}

#main-bar menu i {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    top: 0.15rem;
}

#main-bar menu .item-text {
    display: inline-block;
    position: relative;
    top: -0.1rem;
}

i.dashboard {
    background-image: url("icons/dash-dashboard.svg");
}

i.home {
    background-image: url("icons/dash-home.svg");
}

i.profile {
    background-image: url("icons/dash-profile.svg");
}

i.messages {
    background-image: url("icons/dash-messages.svg");
}

i.history {
    background-image: url("icons/dash-history.svg");
}

i.tasks {
    background-image: url("icons/dash-tasks.svg");
}

i.communities {
    background-image: url("icons/dash-communities.svg");
}

i.settings {
    background-image: url("icons/dash-settings.svg");
}

i.support {
    background-image: url("icons/dash-support.svg");
}

i.privacy {
    background-image: url("icons/dash-privacy.svg");
}

/* Search Bar */

#search-bar {
    color: var(--plain-text-color, black);
    background: var(--light-color, white);
    padding: 0 4rem 0 2rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-bar a {
    display: block;
    color: var(--dark-color, black);
    font-weight: bold;
    text-decoration: none;
}

#search-bar input[type="search"] {
    background-color: var(--back-color);
    line-height: 1.5rem;
    width: clamp(12ch, 40vw, 50ch);
    border: none;
    border-radius: 0.5lh;
}

i.search {
    background-image: url("icons/search.svg");
}

i.notifications {
    background-image: url("icons/notifications.svg");
}

#search-bar a#notifications-link {
    margin-left: auto;
}

/* Greeting Bar */

#greeting-bar {
    color: var(--dark-color, black);
    background: var(--light-color, white);
}

/* Projects */

#projects {

}

/* Announcements */

#announcements {

}

/* Trending */

#trending {

}

/* Sidebar for wide screen */

@media (min-width: 30rem) {
    body {
        display: grid;
        grid-template-columns: minmax(15rem, 2fr) 5fr 2fr;
        grid-template-rows: 3rem 5rem 1fr 1fr;
    }
    
    #main-bar {
        position: static;
        height: unset;
        width: unset;
        grid-column: 1;
        grid-row: 1 / -1;
        gap: 2.5rem;
    }

    #main-bar h1 {
        display: block;
        padding: 0.5rem;
    }

    #main-bar menu {
        flex-direction: column;
    }

    #main-bar menu .item-text {
        margin-left: 0.4rem;
    }

    #search-bar {
        grid-column: 2 / -1;
        grid-row: 1;
    }

    #greeting-bar {
        grid-column: 2 / -1;
        grid-row: 2;
    }

    #projects {
        grid-column: 2;
        grid-row: 3 / -1;
    }

    #announcements {
        grid-column: 3;
        grid-row: 3;
    }

    #trending {
        grid-column: 3;
        grid-row: 4;
    }
}